/* Import Fonts URL below */
@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
    --color: #359fe0;
    --color-hover: #4fabe4;
    --color-dark: #2a8fcc;
    --grey: #999;
    --darkgrey: #666;
}

body{
    overflow:hidden!important;
    height: 100vh;
}

#app,.right{
    height: 100vh;

}

.vertical-align{
    margin: 0;
    position: absolute;
    display: block;
    min-width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.slf-navbar-title{
    color: var(--color)!important;
    font-size: 30px;
    font-family: 'Grand Hotel', cursive;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 7px;
}

nav{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.sidebar {
    font-family: 'calibri';
    white-space: nowrap;
    float:left;
    background-color: var(--color)!important;
    width:50px;
    height:100vh;
    transition: 0.3s ;
}

.sidebar.collapsed {
    width: 200px;
}

.item {
    font-weight: 300;
    cursor: pointer;
    vertical-align: bottom;
    line-height: normal;
    display: inherit;
    overflow: hidden;
    color: #fff !important;
    padding: 10px 0px;
    font-size:19px;
    padding-left: 50px;
}

.item i{
    float:left;
    margin-left:-50px;
    margin-right: 0px;

    font-size:24px;
    padding-left:15px;
}

.item i.menu-btn {
  float:right;
  margin-left:0;

  margin-right:15px;
}

.item:hover:not(.bars), .item.active{
    background-color:var(--color-dark);
    text-decoration: none;
    color: #fff !important;
}

.item.active{
    font-weight: 500;
}

.item.bars{
    height: 72px;
    padding-top: 23px;
    background-color: #40567a;
}

.header-name{
  font-weight: 300;
  color: black!important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'arial';
  font-weight: bold;
  color: var(--darkgrey)!important;
}

.sub-content{
  margin: 0px 0px 20px 0px;
}

.content{
    overflow-y:scroll;
    height: 90vh;
}

.sub-content h1{
    margin-bottom: 20px;
}

input.input-weight{
  font-family: 'Courier New';
  font-size: 30px;
  padding: 25px 5px 22px 15px!important;
  /* border: 1px solid grey; */
  border-radius: 5px 0 0 5px;
}

.input-group-text{
  border-radius: 0 5px 5px 0;
  /* border: 1px solid grey!important; */
  background-color: white;
}

input:focus{
  outline: none;
}

.custom-control-label:before{
  top:.15rem!important;
}

.login .card{
    border: 1px solid var(--color);
    background: #ffffff;
}

.login .card-header{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--color-dark);
    background: white;
}

.on-process-panel{
    border: 1px solid #00000020;
    margin: 10px 0;
    padding: 8px 25px;
    border-radius: 25px;
    background-color: #ffffff;
    font-size: 13px;
    color: var(--grey);
    cursor: pointer;
    transition: 0.2s all;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.on-process-panel:hover{
    background-color: #fafafa;
}

.on-process-panel .value{
    font-family: "montserrat", sans-serif;
    font-size: 20px!important;
}

@media only screen and (max-width: 1000px) {
    .on-process-panel .value{
        display: block;
    }
}

.on-process-panel .id{
    font-weight: bold;
    color: var(--color-dark);
}

.on-process-panel .nama{
    color: var(--darkgrey);
}

.progress-button{
    /* font-size: 15px; */
    position: absolute;
    right: 0;
    margin-right: 23px;
    margin-top: -6px;
}

.progress-button .fas {
    white-space: nowrap;
    font-size: 15px;
    width: 35px;
    height: 35px;
    text-align: left;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 18px;
    transition: all 0.2s;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #eee;
}

.progress-button .fas .caption{
    font-family: 'Arial';
    margin: 0px 10px;
    font-weight: 100;
    /* display: none; */
}

.progress-button a i{
    color: #fff!important;
    /* position: absolute; */
}

.progress-button .fas.info{
    padding: 9px 10px;
    color: #828282;
}

.progress-button .fas.done{
    padding: 9px 9px;
    color: #5cbc7c;
}

.progress-button .fas:hover{
    color: white;
}

.progress-button .fas.info:hover{
    background-color: #828282;
}

.progress-button .fas.done:hover{
    background-color: #5cbc7c; 
}


@media only screen and (min-width: 1000px) {
    

    .progress-button .fas.info:hover, .progress-button .fas.done:hover, .progress-button .fas.done.collapsed{
        width: 100px;
    }
}

.progress-button .fas.info:hover + .done{
    width: 35px;
}

.link{
    color: var(--grey);
}

.link:hover{
    text-decoration: none;
    color: var(--darkgrey);
}

.process-removed{
    margin-left: 100px;
    margin-right: -100px;
    visibility: collapse;
    opacity: 0;

    transition: visibility 0s, opacity 0.5s linear, all 0.5s;
    /* display: none; */

}
